div(class='detail')

  div(class="detailControl")
    div(style="position:relative")
      i(class="fa fa-info-circle", ng-mouseenter="tooltip=true", ng-mouseleave="tooltip=false")
      div(class="tooltip", ng-show="tooltip")
        span Drag and drop 2 versions to see differences

    h3 {{title}}
    div(class='current')  Current: {{current}}

  div(class="detailContent")
    div(class="sliderThumb")
      ul
        li(ng-repeat='date in available | filter:query', ng-class="{selected: isSelected(date)}", ng-click="setImage(date)")
          div(data-drop="true", jqyoui-droppable="{onDrop:'dropCallback(date)'}", ng-model="$index")
            div {{date}}
            img(ng-src="{{dir+date}}/{{title+ext}}", ng-model="$index", err-src="{{date}}", data-drag="true", data-jqyoui-options="{revert: 'invalid'}", jqyoui-draggable)
    div(class="view")
      img(ng-src="{{mainImageUrl}}")
