div(class='detail', keyup="move($event)")
  div(class="detailControl")
    div

    h3 {{title}}

    div
      select(style='float:left', ng-options='version for version in versions.reverse()', ng-change='update()', ng-model='selectedVersion')
      div(class="btn" style="float:left", ng-click="pdfExtraction()")
        a(style="padding: 0 5px", ng-click="pdfExctrating=true", ng-hide="pdfExctrating", href="/pdfExtract/{{title}}/{{device}}") Pdf extract
        div(class="spinner", ng-show="pdfExctrating")
          div(class="bounce1")
          div(class="bounce2")
          div(class="bounce3")

  div(class="detailContent")
    div(class="sliderThumb")
      ul
        li(ng-repeat='url in (filtered = (list[device] | filter:query))', ng-class="{selected: isSelected($index)}", ng-click="setImage($index)")
          div
            div {{url.name}}
            img(ng-src="{{dir + server + url.name + thumb}}")
    div(class="view")
      img(ng-src="{{mainImageUrl}}")
