doctype html
div.main
    div(class='detail')
        div(class="detailControl")
            div
                button(class="btn add", ng-click="updateModel()") Save
            h3 Settings

            div(style="position:relative")
                i(class="fa fa-info-circle", ng-mouseenter="tooltip=true", ng-mouseleave="tooltip=false")
                div(class="tooltip", ng-show="tooltip")
                    span Use the save button to save configuration on disk

        div(class="detailContent")
            ul(class='list')
                li(class="list-row", style='cursor:default;padding: 0 20px')
                    div(style="padding:0")
                        div(style="width:15%;float:left") Generic Host :
                        div {{list.host}}
                    div(style='overflow:auto')
                        div(style="padding:0; float:left;width:15%;") Environments:
                        div(style="float:left;margin-top: -30px;")
                            div(style="color:rgb(211, 63, 26)")
                                span Order the list to define a reference couple (top 2)
                            table(class='pageInfos')
                                thead
                                    tr
                                        th &nbsp;
                                        th Alias
                                        th Value
                                        th Alternatives
                                        th &nbsp;
                                tbody(ui-sortable="sortableOptions", ng-model="list.envs")
                                    tr(ng-repeat="env in list.envs")
                                        td {{$index + 1}}
                                        td {{env.alias}}
                                        td {{env.server}}&nbsp;
                                        td
                                            span(ng-repeat="alternative in env.alternative") {{alternative}}
                                        td ☰
                    div(style="padding-bottom:0")
                        div(style="width:15%;float:left") Engine :
                        div(style="padding: 15px 0")
                            select(ng-model='engine', ng-change="updateEngine()")
                                option(label="phantomJS") phantomjs
                                option(label="slimerJS") slimerjs
                    div(style="padding-top:0")
                        div(style="width:15%;float:left") Webstorage :
                        button(class="btn", style="margin-top:15px", ng-click="cleanStorage()") Clean
                    div(style="padding-top:0")
                        div(style="width:15%;float:left") Conf file :
                        div(style="display:inline-block")
                            button.btn(ng-click="updateConfFile()" ng-hide="refreshConf") Refesh conf
                            span(style="margin-left: 10px") {{ pagesJson.file }}
                            span(ng-show="refreshConf").fa.fa-refresh.fa-spin
                li
                    div(ng-class="{selected : cookiesLength && showListCookiesSettings}", ng-click="showListCookiesSettings = !showListCookiesSettings")
                        a Cookies
                        span.length {{cookiesLength}}
                    table(ng-show="showListCookiesSettings")
                        thead.page-setting-head
                            tr
                                th.page-setting-name
                                    span Name
                                th.page-setting-input
                                    span Value
                                th.page-setting-checkbox
                                    span Domain
                                th.page-setting-checkbox
                                    span Path
                        tbody
                            tr(class='{{cookie.classRefreshing}}', ng-repeat='cookie in cookies', ng-class="{'refreshing': cookie.confRefreshing}")
                                td.page-setting-name
                                    span {{cookie.name}}
                                td.page-setting-input(ng-hide="url.confRefreshing")
                                    input(ng-model='cookie.value', type="text", ng-change='updateCookieValue(cookie)', ng-model-options="{updateOn: 'blur'}")
                                td.page-setting-checkbox
                                    span {{cookie.domain}}
                                td.page-setting-checkbox
                                    span {{cookie.path}}
                li
                    div(ng-class="{selected : listSettings.length && showListSettings}", ng-click="showListSettings = !showListSettings")
                        a Pages
                        span.length {{listSettings.length}}
                    table(ng-show="showListSettings")
                        thead.page-setting-head(sticky, offset="40")
                            tr
                                th.page-setting-name
                                    span Name
                                th.page-setting-input
                                    span Url
                                th.page-setting-checkbox
                                    span isDesktop ({{list.desktop.length}})
                                th.page-setting-checkbox
                                    span isTablet ({{list.tablet.length}})
                                th.page-setting-checkbox
                                    span isMobile ({{list.mobile.length}})
                                th.page-setting-cookies
                                    span Cookies
                        tbody
                            tr(class='{{url.classRefreshing}}', ng-repeat='url in listSettings', ng-class="{'refreshing': url.confRefreshing}")
                                td.page-setting-name
                                    span {{url.name}}
                                td.page-setting-input(ng-hide="url.confRefreshing")
                                    input(ng-model='url.url', type="text", ng-change='updateUrlPage(url)', ng-model-options="{updateOn: 'blur'}")
                                td.page-setting-checkbox(ng-click="updateDevicePage(url, 'desktop', url.isDesktop)", ng-hide="url.confRefreshing")
                                    span(ng-show="url.isDesktop" style="color:#ffffff").fa.fa-check-circle-o
                                    span(ng-hide="url.isDesktop").fa.fa-times-circle-o
                                td.page-setting-checkbox(ng-click="updateDevicePage(url, 'tablet', url.isTablet)", ng-hide="url.confRefreshing")
                                    span(ng-show="url.isTablet" style="color:#ffffff").fa.fa-check-circle-o
                                    span(ng-hide="url.isTablet").fa.fa-times-circle-o
                                td.page-setting-checkbox(ng-click="updateDevicePage(url, 'mobile', url.isMobile)", ng-hide="url.confRefreshing")
                                    span(ng-show="url.isMobile" style="color:#ffffff").fa.fa-check-circle-o
                                    span(ng-hide="url.isMobile").fa.fa-times-circle-o
                                td.page-setting-cookies
                                    ul
                                        li(ng-repeat='cookie in url.cookies') {{cookie}}
                                td#ballsWaveG(ng-show="url.confRefreshing")
                                    div#ballsWaveG_1.ballsWaveG
                                    div#ballsWaveG_2.ballsWaveG
                                    div#ballsWaveG_3.ballsWaveG
                                    div#ballsWaveG_4.ballsWaveG
                                    div#ballsWaveG_5.ballsWaveG
                                    div#ballsWaveG_6.ballsWaveG
                                    div#ballsWaveG_7.ballsWaveG
                                    div#ballsWaveG_8.ballsWaveG