doctype html
h2 Summary

div(class="central summary")
    div(class="block")
        ul
            li(class="flex")
                label Desktop
                span {{results.desktop.results.length}}
                div(class="progress-bar")
                    div(class="progress", ng-style="{'width': ((results.desktop.results.length*100/list.desktop.length) + 1) + '%'}")
            li(class="flex")
                label Tablet
                span {{results.tablet.results.length}}
                div(class="progress-bar")
                    div(class="progress", ng-style="{'width': ((results.tablet.results.length*100/list.desktop.length) + 1) + '%'}")
            li(class="flex")
                label Mobile
                span {{results.mobile.results.length}}
                div(class="progress-bar")
                    div(class="progress", ng-style="{'width': ((results.mobile.results.length*100/list.desktop.length) + 1) + '%'}")
    div(class="block")
        ul
            li
                label Success
                span(style="color:#109618") {{list.desktop.length + list.mobile.length + list.tablet.length - (results.desktop.results.length + results.mobile.results.length + results.tablet.results.length)}}
            li
                label Warning
                span(style="color:#FF9900") 0
            li
                label Error
                span(style="color:#DC3912") {{results.desktop.results.length + results.mobile.results.length + results.tablet.results.length}}

h2 WebPerf

div
    div(ng-repeat='(env, wp) in webperf')
        h3 {{env}}
        li(ng-repeat='(name, dates) in wp') {{name}}
            div(ng-repeat='(keyDate, dateMetrics) in dates')
                div {{keyDate}}{{dateMetrics}}



