div(lazy-img)
  div(class="thead pages")
    ul
      li(ng-click="hideUrls=!hideUrls;rowReduce()")
        div
          span url
        div(ng-repeat="url in (filtered = (list[device] | filter: filterList))", ng-class="{hideLine: url.low, success: url.success, failure: url.failure}", ng-show="hide($index)", ng-click="low=!low;rowReduce()")
          label {{url.name}}
      li(ng-repeat="env in list.envs")
        div(ng-mouseenter="env.visible=true", ng-mouseleave="env.visible=false")
          span
            a(href='#/env/{{env.alias}}/{{device}}') {{env.alias}}
          i(class="fa fa-refresh refreshEnv", ng-show="!env.offset && env.visible", ng-click="refreshEnv(env, $index)")
        div(ng-repeat="url in (filtered = (list[device] | filter: filterList))", ng-class="{hideLine: url.low, success: url.success, failure: url.failure}", ng-show="hide($index)", ng-model="$parent.name", data-drop="true", jqyoui-droppable="{onDrop:'dropCallback($parent.$index, url.name, $index)'}", ng-mouseenter="hover=true", ng-mouseleave="hover=false")
          a(ng-href="#/history/{{env.server}}{{url.name}}", class="link dragLink")
            img(data-offset="{{env.offset}}", data-original="{{resolveDiskPath(env.server, url.name, url.params, env.offset)}}", ng-model="$parent.name", ng-class="{draging: url.draging}", data-drag="true", data-jqyoui-options="{revert: 'invalid'}", jqyoui-draggable="{index: {{$parent.$index}}, onStart:'dragStart()', onStop:'dragStop()'}")
          i(class="refreshScreen fa fa-refresh", ng-show="!env.offset && hover", ng-click="refreshImage($parent.$index, $index)")
          a(ng-href="{{resolveHost(env, url)}}", target="_blank")
            i(class="fa fa-external-link", style="top:80px", ng-show="hover")
          div(ng-class="{glasspaneRefresh : isRefreshing(url, $parent.$index)}")
      li
        div
          span result
        div(class="ratio ratio{{$index}}", ng-repeat="url in (filtered = (list[device] | filter: filterList))", ng-class="{hideLine: url.low, success: url.success, failure: url.failure}", ng-show="hide($index)")
          div(class="webperf", ng-show="webperf", ng-if="url.webperf")
            div
              label Time
              span {{url.webperf.time / 1000}} s
            div
              label Requests
              span {{url.webperf.req}}
            div
              label Size
              span {{url.webperf.size  / 1000}} ko
          i(class="fa fa-info-circle", ng-mouseenter="webperf=true", ng-mouseleave="webperf=false")
          span(class="diffHeader") Last mismatch: {{url.percentage}} %
          a(ng-if="hasStoredImage(url)", href="#/compare/{{list.envs[0].alias}}")
            img(ng-src="{{getStoredImage(url)}}")