doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="description", content="Zeno improve your continous delivery")
        meta(name="viewport", content="initial-scale=1.0")
        link(rel='stylesheet', media="screen", href='css/zeno.css')

        title 404
    body
        include nav

        div(class="notFound") 404 - PAGE NOT FOUND
