doctype html
html(ng-app="zeno", ng-controller="GlobalController as global", lang="en")
    head
        title Zeno
        link(href='//fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
        link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', media="screen", href='css/zeno.min.css')
        link(rel="stylesheet" href="node_modules/n3-charts/build/LineChart.css")
        link(rel="manifest" href="/manifest.json")
    body(class="fancy-scrollbar", ng-keypress="keyPress($event)", scroll-detection)
        a(id="back-to-top")
          i(class="fa fa-chevron-up")

        include nav

        div(class="container")
            div(class="subcontainer")
                nav.left-nav(ng-show="location.path().indexOf('compare') !== -1 || location.path().indexOf('env') !== -1 || location.path().indexOf('history') !== -1 || location.path().indexOf('result') !== -1")
                    ul
                        li(ng-class="{activate: !filter}", ng-show="location.path().indexOf('compare') !== -1")
                            a(ng-click="filter=!filter")
                                i.fa.fa-cog
                        li(ng-class="{active: isTabActive('desktop')}")
                            a(href="#/compare/desktop")
                                i(class="fa fa-desktop")
                                div
                                    span(style="color:#DC3912") {{results.desktop.results.length}}
                                    span /
                                    span(style="color:#109618") {{::list.desktop.length}}
                        li(ng-class="{active: isTabActive('tablet')}")
                            a(href="#/compare/tablet")
                                i(class="fa fa-tablet")
                                div
                                    span(style="color:#DC3912") {{results.tablet.results.length}}
                                    span /
                                    span(style="color:#109618") {{::list.tablet.length}}
                        li(ng-class="{active: isTabActive('mobile')}")
                            a(href="#/compare/mobile")
                                i(class="fa fa-mobile")
                                div
                                    span(style="color:#DC3912") {{results.mobile.results.length}}
                                    span /
                                    span(style="color:#109618") {{::list.mobile.length}}
                div(ng-view)

    //- Third party
    script(src="js/bower_components/jquery/dist/jquery.min.js")
    script(src="js/bower_components/jquery-ui/jquery-ui.min.js")

    script(src="js/bower_components/angular/angular.js")
    script(src="https://d3js.org/d3.v4.min.js")
    script(src="js/bower_components/angular-route/angular-route.min.js")
    script(src="js/bower_components/angular-resource/angular-resource.min.js")
    script(src="js/bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src="js/bower_components/angular-dragdrop/src/angular-dragdrop.min.js")
    script(src="/js/libs/resemble.js")
    script(src="/js/libs/sortable.js")
    //- script(src="socket.io/socket.io.js")
    script(src="//cdn.socket.io/socket.io-1.1.0.js")
    script(src='/js/bower_components/angular-socket-io/socket.js')
    script(src="js/bower_components/ngSticky/lib/sticky.js")
    script(src="node_modules/n3-charts/build/LineChart.js")

    //- Application
    script(src="/js/zeno.js")
    script(src="/js/zeno-services.js")
    script(src="/js/zeno-controllers.js")
    script(src="/js/zeno-filters.js")
    script(src="/js/zeno-directives.js")

    //- LiveReload: only in dev mode
    script(src="//localhost:35729/livereload.js")
