header
  div(class="logo")
      a(href="/")
          div(class="s") ZENO
  div(class="search", ng-class="{'search-open': showSearch}", focus-input)
      div(ng-click="showSearch=!showSearch")
          i(class="fa fa-search")
      input(type="text", ng-model="query")
      i(class="fa fa-times", ng-click="query=''")